<!DOCTYPE html>
<html lang='en' ng-app='Restaurant'>
<head>
  <meta charset="UTF-8">
  <title>Student App</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="services/RestaurantFactory.js"></script>
  <script src='controllers/PizzaController.js'></script>
  <script src='controllers/IceCreamController.js'></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <div class="container">
      <div ng-controller="PizzaCtrl">

        <h4>order a pizza</h4>

        <form id="input" ng-submit="addPizza()">
          <div class="form-group">
            <label for="size">Size: </label><br>
              <input type="radio" name="size" ng-model="pizzaSize" value="small"> Small -- 12"<br>
              <input type="radio" name="size" ng-model="pizzaSize" value="medium"> Medium -- 14"<br>
              <input type="radio" name="size" ng-model="pizzaSize" value="large"> Large -- 16"
          </div>

          <button type="submit" class="btn btn-info">Order</button>
        </form>

        <h4>Your Order</h4>
        <ul>
          <li ng-repeat="item in pizzas">You got a {{item.size}} pizza for ${{item.price}} <a class="text-danger pull-right" href="#" ng-click="deletePizza(item)">X</a></li>
        </ul>

        <h4 ng-show="pizzas.length">Your Total {{ pizzaPrice() }}</h4>

      </div>

  </div>
</body>
</html>
