<!DOCTYPE html>
<html lang='en' ng-app='Restaurant'>
<head>
  <meta charset="UTF-8">
  <title>Student App</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="services/RestaurantFactory.js"></script>
  <script src='controllers/PizzaController.js'></script>
  <script src='controllers/IceCreamController.js'></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row" ng-controller="PizzaCtrl">
      <div class="col-sm-4">
        <h3>Order a Pizza</h3>

        <form id="input" ng-submit="addPizza()">
          <div class="form-group">
            <label for="size">Size: </label><br>
              <input type="radio" name="size" ng-model="pizzaSize" value="slice"> Slice<br>
              <input type="radio" name="size" ng-model="pizzaSize" value="small"> Small -- 12"<br>
              <input type="radio" name="size" ng-model="pizzaSize" value="medium"> Medium -- 14"<br>
              <input type="radio" name="size" ng-model="pizzaSize" value="large"> Large -- 16"
          </div>

          <button type="submit" class="btn btn-info">Order</button>
        </form>
      </div>

      <div class="col-sm-6">
        <h4>Your Order</h4>
        <ul>
          <li ng-repeat="item in pizzas">1 {{item.size}} pizza for ${{item.price}} <button class="btn btn-danger btn-xs" ng-click="deletePizza(item)">X</button></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h4 ng-show="pizzas.length">Your Total: $ {{ pizzaPrice() }}</h4>
      </div>

    </div>

    <div class="row" ng-controller="IceCreamCtrl">
      <div class="col-sm-4">
        <h3>Order Ice Cream</h3>

        <form id="input" ng-submit="addIceCream()">
          <div class="form-group">
            <label for="scoops">Scoops:</label>
            <select id="scoops" ng-model="scoops" ng-options="opt for opt in scoopOptions"></select>
          </div>

          <button type="submit" class="btn btn-info">Order</button>
        </form>
      </div>

      <div class="col-sm-6">
        <h4>Your Order</h4>
        <ul>
          <li ng-repeat="item in iceCream">{{item.scoops}} scoops for ${{item.price}}<button class="btn btn-danger btn-xs" ng-click="deleteIceCream(item)">X</button></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <h4 ng-show="iceCream.length">Your Total: $ {{ icePrice() }}</h4>
      </div>

    </div>

  </div>
</body>
</html>
